= form_for @overlay, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :image, :class => 'control-label'
    .controls
      = f.text_field :image, :class => 'text_field'
  .control-group
    = f.label :date_from, :class => 'control-label'
    .controls
      = f.datetime_select :date_from, :class => 'datetime_select'
  .control-group
    = f.label :date_to, :class => 'control-label'
    .controls
      = f.datetime_select :date_to, :class => 'datetime_select'
  .control-group
    = f.label :position, :class => 'control-label'
    .controls
      = f.text_field :position, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), overlays_path, :class => 'btn'
