= form_for @overlay, :html => { multipart: true, class: 'form-horizontal' } do |f|
  .control-group
    = f.label :image, :class => 'control-label'
    .controls      
      = f.file_field :image, accept: 'image/png,image/gif,image/jpeg', style: "display:none"
      .input-append
        %input#imagePath.input-large{type: "text", disabled: true}
        %a.btn{:onclick => "$('#overlay_image').click();"} Browse
      = ' or URL: '
      = f.text_field :remote_image_url
  .control-group
    = f.label :date_from, :class => 'control-label'
    .controls
      = f.text_field :date_from, "data-behaviour" => 'datepicker'
  .control-group
    = f.label :date_to, :class => 'control-label'
    .controls
      = f.text_field :date_to, "data-behaviour" => 'datepicker'
  .control-group
    = f.label :position, :class => 'control-label'
    .controls
      = f.select :position, Overlay::POSITIONS
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), overlays_path, :class => 'btn'

:javascript
  $('#overlay_image').change(function() {
    console.log($(this));
    $('#imagePath').val( $(this).val() );
  });
  $('[data-behaviour~=datepicker]').datepicker();
