- model_class = Overlay
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:image)
      %th= model_class.human_attribute_name(:date_from)
      %th= model_class.human_attribute_name(:date_to)
      %th= model_class.human_attribute_name(:position)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @overlays.each do |overlay|
      %tr
        %td= link_to overlay.id, overlay_path(overlay)
        %td= overlay.image
        %td= overlay.date_from
        %td= overlay.date_to
        %td= overlay.position
        %td=l overlay.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_overlay_path(overlay), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), overlay_path(overlay), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_overlay_path, :class => 'btn btn-primary'
